// VARIABLES
$pure-green: #00ad7c;
$lighter-green: #52d681;
$lightest-green: #b5ff7d;
$red: #f20;

// MIXINGS
@mixin border($size,) {
  border: $size solid #ddd;
}

body {
  margin: 0;
  font-family: montserrat;
}

a {
  color: black;
  text-decoration: none;
  transition: .3s;
  
  &:hover {
    color: $pure-green;
  }
}

.error {
  color: $red;
}

input, .button, input[type=submit] {
  padding: 12px 20px;
  background: transparent;
  @include border(1px);
  outline: 0;
  transition: .3s;
  display: inline-block;
  
  &:hover {
    border-color: $pure-green;
    color: black;
  }
  &:focus {
    border-color: $pure-green;
  }
}

.center {
  text-align: center;
}

.card {
  @include border(2px);
  padding: 10px 10px 30px 10px;
}

.grid {
  display:grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.wrapper {
  width: 1200px;
  margin: auto;
}

.narrow-wrapper {
  width: 900px;
  margin: 30px auto;
}

.inputField {
  margin: 10px 0;
}
  
input[type=text], 
input[type=email], 
input[type=password],
select{
  width: calc(100% - 40px);
}

select option {
  padding: 10px;
}

.flex {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-end;
}

// NAVIGATION
nav {
  
  ul {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    
    a {
      display: inline-block;
      padding: 40px 20px;
    }
  }
}

input[type=number] {
  width: 50px !important;
  
  &:focus {
    border-color: $pure-green;
  }
}

.inputField {
  input {
    display: block;
    margin: 5px 20px 0 0;
  }
}

// ===== PROFUCTS STYLING
.products {
  margin-top: 50px;
}

.productImages {
  height: 200px;
}

.product {
  @include border(2px);
  transition: .3s;
  
  img {
    width: 100%;
  }
  
  .namePrice {
    justify-content: space-between;
    padding-bottom: 0px !important;
  }
  
  .addToCart, .namePrice, .deleteUpdate {
    padding: 0 15px 20px;
  }
  
  .deleteUpdate {
    justify-content: space-between;
    align-items: center;
    
    a {
      font-size: 14px;
    }
  }
  
  &:hover {
    border-color: lighten($lighter-green, 25%);
  }
}

.admin-single-product {
  h4 {
    margin-bottom: 0;
  }
  
  .deleteUpdate {
    margin-top: 20px;
    align-items: center;
    
    a {
      margin-left: 20px;
    }
  }
}

.a-quantity {
  width: 100%;
}

// STORE STYLING ==== ADMIN PAGE
.store {
  padding: 12px;
  
  option {
    padding: 12px;
  }
}

#registerStore {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  
  h1 {
    grid-colums: 1 / 5;
  }
}

.storeNameAndImage {
  img {
    width: 100%;
  }
}

footer {
  border-top: 1px solid #ddd;
  margin-top: 150px;
  padding: 30px 0;
}

// CUSTOMER VIEW == ADMIN PANEL
.row {
  padding: 10px 0;
  text-align: left;
}

.rows .row {
  border-bottom: 1px solid #ddd;
}